.body{
 position: relative;
}
.h1{
 text-align: center;
}
.p1{
 text-align: center;
}
.glavni{

 position: absolute;
 display: inline-block;
 left: 400px;
}
.drugi{
 position: absolute;
 left: 450px;
 display: inline-block;
 top: 150px;

}
.treci{
 position: absolute;
 left: 600px;
 top: 350px;
}