html{
 scroll-behavior: smooth;
}
a{
 text-decoration: none;
 color: white;
}
body{
 margin: 0%;
}
header{
 width: 100%;
 height: 13vh;
display: inline-block;
background-color: #131c27;
position: relative;
margin: 0%;
position: fixed;
z-index: 100;
}
.nav{
 height: 100%;
 width: 50%;
float: right;

}
.lin{
 display: inline-block;
margin-right: 60px;
font-size: 24px;
margin-left: 20px;
color: white;
margin-top: 10px;
font-family: 'Poppins', sans-serif;
}
.logo{
 font-family: 'Lobster', cursive;
 color: white;
 font-size: 35px;
 position: absolute;
 top: 23%;
 left: 10%;
 border: 2px solid white;
 border-radius: 10px;
}
.main{
 margin: 0%;
 width: 100%;
 
}
.s1{
 margin-top: -45.9px;
 width: 100%;
 height: 100vh;
 font-family: 'Heebo';
 font-size: 37px;
 text-align: center;
 background-image: url("floris-siegers-93iq6PG5q6M-unsplash.jpg");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 color: white;
}
.h1{
 padding-top:13%;
}
.p2{
 font-family: 'Poppins', sans-serif;
}

.button1{
 width: 15%;
 height: 60px;
 font-size: 18px;
 background-color: #4c6e97;
 border: none;
 color: white;
 transition: background-color 1.5s ease-in-out;
 border-radius: 5px;}

 button:hover{
  background-color:#083028 ;
 }

 .s2{
  width: 100%;
  height: 100vh;
  margin-top: 0px;
  font-size: 30px;
  background-image: linear-gradient( rgb(0, 0, 0, 0.5), transparent ),url("city-cut.png");
  overflow: hidden;
background-position: center bottom;
 background-repeat: no-repeat;
 background-color: rgba(128, 128, 128, 0.877);
 color: white; 
 position: relative;
 }
 .s2-h1{
text-decoration: underline;
padding-top: 18%;
padding-left: 5%;
font-family: 'Heebo';

}
.s2-p1{
padding-left: 5%;
font-family: 'Heebo';
}
.cloud{
 background-image: url("clouds-png-hd-images-hd-wallpapers-cloud-free-no-onsite-technicians-no-servers-no-computers-at-the-best-price-3543.png");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 width: 100%;
 height: 50%;
color: red;
 position: absolute;
 animation: cloudanimation;
 animation-duration: 10s;
 animation-iteration-count: infinite;
 animation-timing-function:ease;
 z-index: 99;
 animation-delay: 2s;
}
.undercloud{
  background-image: url("clouds-png-hd-images-hd-wallpapers-cloud-free-no-onsite-technicians-no-servers-no-computers-at-the-best-price-3543.png");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 width: 100%;
 height: 50%;
color: red;
 position: absolute;
 animation: undercloudanimation;
 animation-duration: 10s;
 animation-iteration-count: infinite;
 animation-timing-function:ease;
 
 opacity: 0.2 ;
 z-index: 98;
}

@keyframes cloudanimation{

0%{
 top: -100px;
 right: -700px;
}
50%{
 top: -50px;
 right: -600px;
}
100%{
 top: -100px;
 right: -700px;
}

}
@keyframes undercloudanimation{

0%{
 top: -80px;
 right: -600px;
}
50%{
 top: -30px;
 right: -500px;
}
100%{
 top: -80px;
 right: -600px;
}
}

.s3{
 width: 100%;
 height: 100vh;
 text-align: center;
 font-size: 35px;
 overflow: hidden;
 font-family: 'Heebo';
 background-image: url("beach.jpg");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}
.s3-h1{
 padding-top: 2.5%;
}
.cards{
 display: inline-block;
margin: auto;
 width: 100%;
 height: 300px;

margin-bottom: 0%;
 padding-top: 3%;
 
}
.kocka{
 display: inline-block;
 width: 25%;
 height: 75%;
 box-shadow: grey 0 0 10px;
 margin: auto;
 margin-left: 2%;
 margin-right: 2%;
 
}
.icons{
 width: 100%;
 height: 35%;
 background-color: rgb(16, 121, 182);
 padding-top: 3%;
}
.fas{
font-size: 60px;
color: white;
text-align: center;

}
.text{
 width: 100%;
 height: 75%;
 background-color: white;
}
.smaller{
 text-align: center;
 font-size: 30px;
}

.s4{
 margin-top: -10%;
 width: 100%;
 height: 100vh;
 background-image: url("contact2.jpg");
  background-position: center ;
 background-repeat: no-repeat;
 background-size: cover;
}
.contact{
 width: 50%;
 height: 60%;
 background-color: grey;
 margin: auto;
 margin-top: 10%;
text-align: center ;
font-family: 'Heebo';
font-size: 35px;
border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgba(233, 222, 222,0.05);
    border: 1px solid rgba(247, 239, 239,0.1);
    color: white

}


input{
 width: 40%;
 height: 30px;
 margin-bottom: 30px;
 
}
.s4-h1{
 padding-top: 5%;
 margin-bottom: 10%;
}
.button2{
 margin-left: 25%;
 width: 50%;
 height: 10%;
background-color: #4c6e97;
 border: none;
 color: white;
 transition: background-color 1.5s ease-in-out;
 border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

 button:hover{
  background-color:#083028 ;
 }

 footer{
  
 width: 100%;
 height: 13vh;
background-color: #131c27;
margin-bottom: 0%;
position:relative;
overflow: hidden;
 }
 .logo2{
  width: 200px;
  height: 70px;
  font-size: 20px;
  margin-left: 10%;
  color: white;
position: absolute;
top: -15px;
left: 5%;
 }
 .fa-copyright{
  font-size: 30px;
  color: white;
  position:absolute;
  top: 18px;
left: 27%;

 }
 .footer-icons{
  height: 100%;
 width: 50%;
float: right;

 }
 .footer-li{
  display: inline-block;
  margin:auto;
  float: right;
  font-size: 40px;
  margin-right: 20%;
  color: white;
 }