
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
header{
 width: 100%;
 height: 11vh;
 background-color: yellow;

}
main{
 width: 100%;
 height: 75vh;
  display: flex;
justify-content: space-between;
  margin-top: 1%;
}
nav{
 width: 20%;
 height: 73vh;
 background-color: yellow;
 
}
.ads{
 width: 15%;
}
article{
 width: 62%;
height: 73vh ;
background-color: yellow;
}
footer{
 width: 100%;
 height: 12vh;
 background-color: yellow;
}
@media screen and (max-width:500px){
  
  main{
    display: flex;
    flex-direction: column;
    padding: 0%;
    height: 70vh;
    justify-content: space-between;
    margin-top: 20px;
  }
  article,
  nav,
  .ads{
    width: 100%;
    height: 15vh;
  }
  article{
    height: 38vh;
  }
  .ads{
    height: 13vh;
  }
  footer{
    margin-top: 20px;
  }
}